* {
  margin: 0;
}

.App {
  text-align: center;
  background-color: #d9cdf7;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-logo {
  max-width: unset !important;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Button-sofa {
  width: auto;
  background-color: #d9cdf7;
  display: flex;
  align-items: flex-end;
  margin-left: 88%;
  margin-bottom: 0px;
  border: 0;
}

.Button-sofa:hover {
  cursor: pointer;
}

.Close-sofa {
  max-height: 66px;
  max-width: 66px;
  background-color: #d9cdf7;
  display: flex;
  align-items: flex-end;
  margin-left: 90%;
  margin-bottom: 0px;
  border: 0;
}

.Close-sofa:hover {
  cursor: pointer;
}

.sofa {
  width: 100%;
}

.sofa-gif {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Click-360 {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.info {
  padding-left: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 132px;
  color: #271a45;
  margin-left: 50px;
}

.Codigo {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 20px;
}

.Titulo {
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.Preco {
  padding: 0px;
  opacity: 0.67;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 30px;
}

.Button {
  box-sizing: border-box;
  border: 0.5px solid #271a45;
  padding: 8px 16px;
  border-radius: 999px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  background-color: #d9cdf7;
}

.Button:hover {
  background-color: #9975f3;
  cursor: pointer;
  color: white;
}

@media (max-width: 1024px) {
  .Codigo,
  .Button {
    font-size: 14px;
  }
  .Titulo {
    font-size: 32px;
  }
  .Preco {
    font-size: 20px;
  }
  .Button {
    padding: 4px 8px;
  }
  .App {
    flex-direction: column;
  }
  .App-logo {
    width: 100%;
    max-width: 650px !important;
  }
  .Close-sofa {
    margin-left: 80%;
  }
  .Button-sofa {
    margin-left: 74%;
  }
  .info {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .App-logo {
    max-width: 500px !important;
  }
}
